{% extends "base.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block menu %}
<div id="menu" class="menu">
    <ul>
        {% for name, href in content.menu %}
            <li><a href="{{ href }}">{{ name }}</a></li>
        {% endfor %}

    </ul>
</div>
{% endblock %}
{% block cart %}
    <div class="cart"><a href="index.php?c=cart&act=cart">Корзина</a></div>
{% endblock %}
{% block content %}
<div id="content">
    <h3>Форма регистрации</h3>
    <p style="color: red">{{ content.message }}</p>
    <form method="post" action="index.php?c=user&act=reg">
        <input type="text" name="name" placeholder="имя">
        <input type="text" name="surname" placeholder="фамилия">
        <input type="email" name="login" placeholder="email">
        <input type="password" name="password" placeholder="пароль">
        <input type="submit">
    </form>
</div>
{% endblock %}